<!-- purbeurre/users/templates/login.html -->

{% extends 'base_template.html' %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center align-content-between text-center">
                <div class="col">
                    <h1 class="fs-1 text-center">Connexion à votre compte Pur Beurre</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="container">
    <section class="intro-section">
        <div class="main-instructions">
            <p class="font-weight-bold text-body">
                Connectez-vous à votre compte Pur Beurre !
            </p>
        </div>
    </section>
    <section class="main-section">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>Connexion</button>
        </form>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}