<!-- purbeurre/food/templates/food/product_list.html -->

{% extends 'base_template.html' %}
{% load static %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                <div class="col">
                    <h1 class="fs-1 text-center">Fiche détaillée du produit sélectionné</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="container main-product_detail">
    <section class="main-section">
        <div class="row product-detail-infos justify-content-center text-muted">
            <div class="col-lg-4 col-md-6 col-sm-12 product-detail-img">
                <img src="{{ product_detail.image_url }}" alt="{{ product_detail.designation }}" class="product-detail-image img-fluid d-block align-middle" />
            </div>
            <div class="col-lg-7 col-sm-12 product-detail-data">
                <div class="row">
                    <h2 class="d-inline-flex align-middle font-weight-bold header-title text-capitalize">
                        {{ product_detail.designation }}
                    </h2>
                    <div class="col-lg-6 col-sm-12 product-detail-identification">
                        <p>Marque : {{ product_detail.brand }}</p>
                        <p>EAN : {{ product_detail.barcode }}</p>
                    </div>
                </div>
                <div class="row product-detail-nutriment">
                    <div class="col-lg-8 col-sm-12">
                        <h2 class="product-detail-nutriment-title">Repères nutritionnels pour 100g</h2>
                        {% if product_detail.fat_level %}
                            <div class="row product-detail-nutriment-row">
                                <div class="col-2 {{ nutriment_data.fat.color }}"></div>
                                <div class="col-10 pt-1">{{ product_detail.fat_value|floatformat }}g : matières grasses / lipides en {{ nutriment_data.fat.quantity }}</div>
                            </div>
                        {% endif %}
                        {% if product_detail.saturated_fat_level %}
                            <div class="row product-detail-nutriment-row">
                                <div class="col-2 {{ nutriment_data.saturated_fat.color }}"></div>
                                <div class="col-10 pt-1">{{ product_detail.saturated_fat_value|floatformat }}g : acides gras saturés en {{ nutriment_data.saturated_fat.quantity }}</div>
                            </div>
                        {% endif %}
                        {% if product_detail.sugars_level %}
                            <div class="row product-detail-nutriment-row">
                                <div class="col-2 {{ nutriment_data.sugars.color }}"></div> 
                                <div class="col-10 pt-1">{{ product_detail.sugars_value|floatformat }}g : sucres en {{ nutriment_data.sugars.quantity }}</div>
                            </div>
                        {% endif %}
                        {% if product_detail.salt_level %}
                            <div class="row product-detail-nutriment-row">
                                <div class="col-2 {{ nutriment_data.salt.color }}"></div>
                                <div class="col-10 pt-1">{{ product_detail.salt_value|floatformat }}g : sel en {{ nutriment_data.salt.quantity }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 justify-content-center product-detail-nutriscore">
                        {% if product_detail.nutriscore == "A" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-a.svg' %}" alt="Nutriscore A" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "B" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-b.svg' %}" alt="Nutriscore B" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "C" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-c.svg' %}" alt="Nutriscore C" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "D" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-d.svg' %}" alt="Nutriscore D" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "E" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-e.svg' %}" alt="Nutriscore E" class="nutriscore-img"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row product_detail-links justify-content-center">
            <div class="d-flex justify-content-center mt-4">
                <a type="button" href="javascript:history.back()" target="_self"
                    class="d-flex align-items-center btn btn-link btn-detail-detail text-white"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Revenir à la page précédente">
                    <i class="bi bi-skip-backward-circle card-footer-icon card-footer-icon-mgr"></i> Retour
                </a>
                <a type="button" href="{{ product_detail.url }}" target="_blank"
                    class="d-flex align-items-center btn btn-link btn-detail-detail btn-off text-white"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Voir la fiche complète sur OpenFood Fact">
                    <i class="bi bi-info-circle card-footer-icon card-footer-icon-mgr"></i> Voir sur Open Food Facts
                </a>
            </div>
        </div>
    </section>
    <hr class="separator" id="comment-anchor">
    <section class="comments-section">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show" role="alert" {% endif %}>
                    <i class="bi bi-check-circle-fill comment-message"></i>  {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row comment-area">
            <div class="col-lg-6 col-md-12 col-sm-1">
                <h3 class="comment-form-title">Laisser un commentaire sur ce produit</h3>
                <form class="comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="product-id" value="{{ product_detail.id }}">
                    {{ comment_form.as_p }}
                    <button type="submit" id="comment-btn" class="btn-comment d-flex justify-content-center align-items-center btn btn-link btn-choice">Commenter</button>
                </form>
            </div>
            {% if product_comments %}
                <div class="col-lg-6 col-md-12 col-sm-1">
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-top">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                    <h3 class="comment-title">Commentaire{{ product_comments.paginator.count|pluralize }} sur ce produit</h3>
                    {% for comment in product_comments %}
                        <div class="row comment">
                            <div class="comment-user">
                                {{ comment.user__username }}
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <div class="row comment-footer">
                                <div class="col-lg-10 col-md-10 col-sm-1 comment-date">
                                    le {{ comment.creation_date|date:"d/m/Y, H:i" }}
                                </div>
                                {% if comment.user_id == user.id %}
                                    <div class="col-lg-2 col-md-2 col-sm-1 comment-delete-btn">
                                        <form class="comment-delete-form">
                                            <button type="submit" id="{{ comment.id }}" class="d-flex justify-content-center align-items-center btn btn-link btn-delete-comment"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer ce commentaire">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <hr class="comment-separator">
                        </div>
                    {% endfor %}
                    {% if product_comments.paginator.num_pages > 1 %}
                        <nav class="d-flex justify-content-center pagination-comment-bottom">
                            <span class="d-flex align-items-center step-links">
                                {% if product_comments.has_previous %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.previous_page_number }}#comment-anchor">&lt;</a>
                                    </li>
                                {% endif %}

                                {% for i in product_comments.paginator.page_range %}
                                    {% if product_comments.number == i %}
                                        <li class="active page-item d-flex justify-content-center align-items-center">
                                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item d-flex justify-content-center align-items-center">
                                            <a class="page-link" href="?page={{ i }}#comment-anchor">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_comments.has_next %}
                                    <li class="page-item d-flex justify-content-center align-items-center">
                                        <a class="page-link" href="?page={{ product_comments.next_page_number }}#comment-anchor">&gt;</a>
                                    </li>
                                {% endif %}
                            </span>
                        </nav>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}