<!-- purbeurre/users/templates/dashboard.html -->
{% extends 'base_template.html' %}
{% load static %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center align-content-between text-center">
                <div class="col-12">
                    <h1 class="fs-1 text-center">Mon compte personnel Pur Beurre</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main class="container">
    <section class="intro-section">
        <div class="main-instructions">
            <p class="font-weight-bold text-body">
                Vos informations personnelles enregistrées sur le site Pur Beurre : 
            </p>
        </div>
    </section>
    <section class="main-section">
        <div class="row dashboard-infos">
            <div class="col-lg-2 col-sm-4 user-img d-flex align-items-center">
                <img src="{% static 'dist/assets/img/default_user.png' %}" alt="{{user.username}}" class="user-image img-fluid d-block align-middle" />
            </div>
            <div class="col-lg-6 col-sm-12 user-data">
                <li class="user-data-line">
                    <div class="dashboard-label">Email</div><div class="user-value">{{user.email}}</div>
                </li>
                <li class="user-data-line">
                    <div class="dashboard-label">Prénom</div><div class="user-value">{{user.first_name}}</div>
                </li>
                <li class="user-data-line">
                    <div class="dashboard-label">Nom</div><div class="user-value">{{user.last_name}}</div>
                </li>
                <li class="user-data-line">
                    <div class="dashboard-label">Pseudonyme</div><div class="user-value">{{user.username}}</div>
                </li>
                <li class="user-data-line">
                    <div class="dashboard-label">Date d'inscription</div><div class="user-value">{{user.date_joined}}</div>
                </li>
                <li class="user-data-line">
                    <div class="dashboard-label last-block-element">Dernière connexion</div><div class="user-value last-block-element">{{user.last_login}}</div>
                </li>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}