<!-- purbeurre/food/templates/product_list.html -->

{% extends 'base_template.html' %}
{% load static %}
{% load food_custom_filters %}
{% block header %}
    <!-- Masthead-->
    <header class="simple-header d-flex align-items-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center align-content-between text-center">
                <div class="col-lg-8">
                    <p class="d-inline-flex align-middle fs-2 header-title-intro">Fiche détaillée du produit</p>
                    <h1 class="d-inline-flex align-middle text-white font-weight-bold header-title">
                        "{{ product_detail.designation }}"
                    </h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<main>
    <section class="container main-section">
        <div class="row product-detail-infos">
            <div class="col-5 product-detail-img">
                <img src="{{ product_detail.image_url }}" alt="{{ product_detail.designation }}" class="product-detail-image img-fluid d-block align-middle" />
            </div>
            <div class="col-7 product-detail-data">
                <div class="row">
                    <div class="col-6 product-detail-identification">
                        <p>Marque : {{ product_detail.brand }}</p>
                        <p>EAN : {{ product_detail.barcode }}</p>
                    </div>
                    <div class="col-6 product-detail-nutriscore">
                        {% if product_detail.nutriscore == "A" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-a.svg' %}" alt="Nutriscore A" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "B" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-b.svg' %}" alt="Nutriscore B" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "C" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-c.svg' %}" alt="Nutriscore C" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "D" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-d.svg' %}" alt="Nutriscore D" class="nutriscore-img"/>
                        {% elif product_detail.nutriscore == "E" %}
                            <img src="{% static 'dist/assets/img/nutriscore/nutriscore-e.svg' %}" alt="Nutriscore E" class="nutriscore-img"/>
                        {% endif %}
                    </div>
                </div>
                <div class="product-detail-nutriment">
                    <h2 class="product-detail-nutriment-title">Repères nutritionnels pour 100g</h2>
                    {% if product_detail.fat_level %}
                        <div>
                            <div class="{{ nutriment_data.fat.color }}"></div>
                            <div>{{ product_detail.fat_value|floatformat }}g : matières grasses / lipides en {{ nutriment_data.fat.quantity }}</div>
                        </div>
                    {% endif %}
                    {% if product_detail.saturated_fat_level %}
                        <div>
                            <div class="{{ nutriment_data.saturated_fat.color }}"></div>
                            <div>{{ product_detail.saturated_fat_value|floatformat }}g : acides gras saturés en {{ nutriment_data.saturated_fat.quantity }}</div>
                        </div>
                    {% endif %}
                    {% if product_detail.sugars_level %}
                        <div>
                            <div class="{{ nutriment_data.sugars.color }}"></div> 
                            <div>{{ product_detail.sugars_value|floatformat }}g : sucres en {{ nutriment_data.sugars.quantity }}</div>
                        </div>
                    {% endif %}
                    {% if product_detail.salt_level %}
                        <div>
                            <div class="{{ nutriment_data.salt.color }}"></div>
                            <div>{{ product_detail.salt_value|floatformat }}g : sel en {{ nutriment_data.salt.quantity }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row product_detail-links">
            <div class="col-lg-12 align-self-end">
                <a href="{{ product_detail.url }}" target="_blank">Voir la fiche complète sur OpenFood Fact</a>
                <a href="" target="_self">Retour aux résultats</a>
                <a href="" target="_self">Choisir</a>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{% block contact %}{% endblock contact %}