<!-- purbeurre/food/templates/add_list.html -->

{% extends 'main_template.html' %}
{% block content %}
<main>
    <section id="intro-section">
        <h1>Bienvenue chez Pur Beurre !</h1>
        <p id="intro">Blablabla</p>
    </section>
    <section id="main-section">
        {% comment %} <form method="POST" action="{% url 'addproduct' %}">
            {% csrf_token %}
            {{ form }}
            <input type="Submit"/>
        </form> {% endcomment %}
    </section>
</main>
{% endblock content %}